body {
	background: white;
	margin: 0;
}

header {
	background: #f4f4f4;
	height: 160px;
	width: 100%;
}

header form {
	float: right;
}

header form input {
	font-size: 21px;
}

header #logo {
	float: left;
	margin: auto;
}

header button {
	float: left;
	font-size: 15px;
	border: none;
	background: #6dcff6;
	color: white;
	padding: 5px;
}

#content {
	width: 960px;
	margin: auto;
}
#topbar {
	background: black;
	height: 35px;
	width: 100%;
	font-family: Arial, Verdana, sans-serif;
}

#topbar ul {
	margin: 0;
	color: white;
    float: right;
}

#topbar ul a {
	color: white;
	text-decoration: none;
}

#topbar li {
	display: inline-block;
    border-right: white solid 2px;
    padding: 5px 10px;
    height: 25px;
    vertical-align: top;
}

#menwomen {
	background: pink;
	height: 42px;
	width: 400px;
	margin: 30px auto 40px auto;
}

#slideshow {
	background: orange;
	width: 960px;
	height: 500px;
}

#brands {
	background: purple;
	width: 960px;
	height: 80px;
}
#boxes {
	background: red;
	height: 900px;
	width: 960px;
}
footer {
	background: black;
	width: 100%;
	height: 25px;
	color: white;
	padding: 15px 0;
	text-align: center;
}