body {
	background: white;
}

header {
	background: blue;
	height: 160px;
	width: 100%;
}
#topbar {
	background: black;
	height: 35px;
	width: 100%;
}

#menwomen {
	background: pink;
	height: 42px;
	width: 400px;
}

#slideshow {
	background: orange;
	width: 960px;
	height: 500px;
}

#brands {
	background: purple;
	width: 960px;
	height: 80px;
}
#boxes {
	background: red;
	height: 900px;
	width: 960px;
}